@model todoMvc.Models.PrimeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
        <h3>Prime number checker </h3>
</div>
    <div class="row">
        <form asp-action="GeneratePrime">
            <div class="form-group">
                    @Html.LabelFor(model => model.InputNumber, "Number ", new { @class="control-label" })
                    @Html.TextBoxFor(model => model.InputNumber, htmlAttributes: new { @class = "form-control" })                
            </div>
            <input type="submit" value="Generate Prime number" class="btn btn-primary" />
        </form>
</div>
<div class="row">
    @{ if (Model != null && Model.Numbers != null)
        {
            <h3>Results</h3>
            <ul>
                @foreach (var prime in Model.Numbers)
                {
                    <li>
                        @prime
                    </li>
                }
            </ul>
        }
    }
</div>